<div class="container">

<h1>Listing pins</h1>

    <% @pins.each do |pin| %>
      
        <div class="col-md-3">
         <div class="thumbnail">
        <%= pin.description %>
        <%= image_tag(pin.photo, :class=> 'img-responsive' )  %>
        
          <div class="buttons" style="margin-top:10px; margin-bottom:10px">
        <%= link_to 'Mostrar', pin, :class => 'btn  btn-primary  '   %>
        <%= link_to 'Editar', edit_pin_path(pin), :class => 'btn' %>
        <%= link_to 'Borrar', pin, method: :delete, data: { confirm: 'Estas seguro?' } , :class=> 'btn' %>
          </div>
        </div>
      </div>
    <% end %>


<br>

<%= link_to 'Crear nuevo Pin', new_pin_path, :class => 'btn btn-primary' , :style => 'color:white'  %>
</div>