<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @contest.photo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contest.description %>
</p>

<%= link_to 'Edit', edit_contest_path(@contest) %> |
<%= link_to 'Back', contests_path %>
